<h1>{$contact.name}</h1>

{if $contact.legal_registration_identifier.value || $contact.vat_identifier}
	<ul class="identifiers">
		{if $contact.legal_registration_identifier.value}
			<li>
				<strong>{$contact.legal_registration_identifier.scheme|get_contact_scheme_label}&nbsp;:</strong>
				{$contact.legal_registration_identifier.value}
			</li>
		{/if}
		{foreach from=$contact.identifiers.items item="item"}
			{if $item.scheme !== $contact.legal_registration_identifier.scheme && $item.value !== $contact.legal_registration_identifier.value}
				<li>
					<strong>{$item.scheme|get_contact_scheme_label}&nbsp;:</strong>
					{$item.value}
				</li>
			{/if}
		{/foreach}
		{if $contact.vat_identifier}
			<li>
				<strong>Numéro TVA&nbsp;:</strong>
				{$contact.vat_identifier}
			</li>
		{/if}
	</ul>
{/if}

{if $contact.contact.email_address || $contact.contact.phone_number}
	<ul class="contacts">
		{if $contact.contact.email_address}
			<li><a href="mailto:{$contact.contact.email_address|rawurlencode}">{$contact.contact.email_address}</a></li>
		{/if}
		{if $contact.contact.phone_number}
			<li><a href="tel:{$contact.contact.phone_number|rawurlencode}">{$contact.contact.phone_number}</a></li>
		{/if}
	</ul>
{/if}

<ul class="address">
	{if $type === 'buyer'}<li><h2>{$contact.name}</h2></li>{/if}
	{if $contact.postal_address.address_line1}<li>{$contact.postal_address.address_line1}</li>{/if}
	{if $contact.postal_address.address_line2}<li>{$contact.postal_address.address_line2}</li>{/if}
	{if $contact.postal_address.address_line3}<li>{$contact.postal_address.address_line3}</li>{/if}
	{if $contact.postal_address.post_code || $contact.postal_address.city}<li>{$contact.postal_address.post_code} {$contact.postal_address.city}</li>{/if}
	<li>{$contact.postal_address.country_code|get_country_name}</li>
</ul>
