@font-face {
    font-family: 'paheko';
    src: url('../../static/font/paheko.eot');
    src: url('../../static/font/paheko.eot#iefix') format('embedded-opentype'),
        url('../../static/font/paheko.woff') format('woff'),
        url('../../static/font/paheko.woff2') format('woff2'),
        url('../../static/font/paheko.ttf') format('truetype'),
        url('../../static/font/paheko.svg#paheko') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

@media print {
	@page {
		margin: 0;
		size: A4;
		@bottom {
			content: "Page " counter(page) " / " counter(pages);
			font-size: 8pt;
			margin-bottom: 10mm;
			text-align: center;
		}
	}

	body {
		font-size: 10pt;
	}

	.buttons {
		display: none;
	}
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.seller {
	padding: .9cm;
	border-bottom: 5px solid #666;
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.seller h1 {
	flex: 1 1 100%;
	font-size: 18pt;
}

.org {
	background: rgba(var(--gMainColor), 0.7);
}

ul {
	list-style-type: none;
}

dl {
	display: flex;
	flex-direction: column;
	gap: .3em;
}

dl dt {
	font-size: .8em;
}

main {
	margin: 1cm;
}

.buyer {
	margin: 1cm;
	max-width: 40%;
	margin-left: auto;
}

.buyer h1 {
	font-size: 1em;
}

.info {
	display: flex;
	flex-direction: column;
	gap: .3em;
	margin: 1cm 0;
}

.info h1, .info h2, .info h3 {
	font-size: 1em;
}

.lines {
	margin: .5cm 0;
}

.lines table {
	border-collapse: collapse;
	width: 100%;
}

.lines thead {
	border-bottom: 6px double #666;
	font-size: .9em;
}

.lines td, .lines th {
	padding: .2cm .3cm;
	text-align: left;
	border: 1px solid #000;
	border-top: none;
	border-bottom: none;
}

.lines thead th {
	font-weight: normal;
	padding: .1em .3cm;
}

.lines thead tr, .lines tfoot tr {
	border: 1px solid #000;
}

.lines tbody tr:nth-child(even) {
	background: #eee;
}

.lines tfoot {
	border-top: 6px double #666;
}

.lines .qty, .lines .money, .lines .number {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    text-align: right;
    font-size: 10pt;
}

.lines .qty {
	text-align: center;
}

.lines .money {
    white-space: nowrap;
}

.lines tbody th {
	width: 50%;
}

.lines tbody th small {
	font-weight: normal;
}

.lines .total {
    text-align: right;
}

.lines tfoot .money {
	font-size: 11pt;
}

.notes article {
	margin: .3cm 0;
}

.watermark {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.watermark p {
	transform: rotate(-45deg);
	opacity: 0.1;
	color: darkred;
	font-size: 4cm;
}


.buttons {
	text-align: center;
	z-index: 5;
	position: absolute;
	width: 100%;
}

.buttons a {
	margin: 1em;
	font-size: 1.2em;
}


a.icn-btn {
    cursor: pointer;
    color: #fff;
    border: 1px solid #ccc;
    background: #333;
    user-select: none;
    display: inline-block;
    font-size: inherit;
    border-radius: .2em;
    padding: .2em .4em;
    margin: .2em .5em;
    white-space: pre;
    transition: box-shadow .2s;
    text-decoration: underline;
}

a.icn-btn:hover {
	text-decoration: none;
	box-shadow: 0px 0px 5px orange;
}

[data-icon]:before, .main[data-icon]:after {
    display: inline-block;
    font-family: "paheko", sans-serif;
    text-shadow: 1px 1px 1px #000;
    padding-right: .5em;
    font-size: 1.2em;
    line-height: .8em;
    vertical-align: middle;
    content: attr(data-icon);
    font-weight: normal;
}

.facturx {
	float: right;
	border: 2px solid darkblue;
	border-radius: 2em;
	font-size: .8em;
	padding: .1cm;
	padding-right: .3cm;
}

.facturx svg {
	width: .7cm;
	color: darkblue;
	vertical-align: middle;
}