#chat {
	display: grid;
	grid-template-areas: "a b c"
		"d d d";
	grid-template-columns: .2fr .6fr .2fr;
	grid-template-rows: 1fr 3em;
	height: 97vh;
}

#chat .channels {
	grid-area: a;
}

#chat .messages {
	grid-area: b;
}

#chat .users {
	grid-area: c;
}

#chat .chatbox {
	grid-area: d;
}

.chatbox form {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	gap: .5em;
}

.chatbox textarea {
	width: calc(100% - 8em);
	display: block;
}

.chatbox button {
	display: block;
	margin: 0;
	width: 8em;
	margin-left: auto;
	align-self: stretch;
}

.messages {
	display: flex;
	gap: .5em;
	flex-direction: column;
}

.messages article time {
	color: var(--gBorderColor);
	font-size: .8em;
}

.messages figure {
	float: left;
	margin-right: 8px;
}
.messages figure img {
	width: 32px;
	border-radius: .3em;
	margin-top: 5px;
}

.messages article div {
	margin-left: 40px;
}