.slots input[type=radio] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none; /* in case this ever gets supported */
	background: #fff;
	border-radius: 100%;
	border: .2em solid transparent;
	box-shadow:
		0 0 0 2px rgba(13,81,146, 1),
		inset 0 0 0 0px rgba(13,81,146, 0);
	display: inline-block;
	height: 1em;
	margin-right: .25em;
	transition:
		border-color .2s ease-in-out,
		box-shadow .2s ease-in-out;
	vertical-align: text-bottom;
	width: 1em;
	padding: 0;
}

.slots input[type=radio]:focus {
	border-color: transparent;
	box-shadow:
		0 0 0 2px rgba(13, 81, 146, 1),
		inset 0 0 0 0px rgba(13, 81, 146, 1);
	outline: none;
}

.slots input[type=radio]:checked, .slots input[type=radio]:checked:focus  {
	border-color: #fff;
	box-shadow:
		0 0 0 2px rgba(34, 139, 236, 1),
		inset 0 0 0 1em rgba(13, 81, 146, 1);
}

main .slots {
	max-width: 50rem;
	text-align: center;
}

.slots {
	display: grid;
	grid-template-columns: 1fr 9em 1fr;
	align-items: center;
	margin-bottom: 1em;
	font-size: 1.2rem;
}
.slots dt {
	grid-column: 1;
	text-align: right;
	font-weight: bold;
	padding: .5em;
}
.slots dd.hour {
	grid-column: 2;
	padding: .5em;
	text-align: center;
}
.slots dd.spots {
	grid-column: 3;
	padding: .5em;
	text-align: left;
}
.slots dd em {
	font-style: normal;
	color: #666;
}
.slots dd label {
	cursor: pointer;
	background: #cfc;
	border-radius: .5em;
	padding: .5rem;
	transition: .5s;
}
.slots dd label:hover {
	background: #ccf;
	text-decoration: underline;
}
.slots dd.available_2 label {
	background: #ff9;
}
.slots dd.available_1 label {
	background: #f99;
}
.slots dd.available_0 {
	color: #999;
}

dl.info {
	border-top: .1rem solid #ccc;
	padding-top: 1em;
}

.mine dd.date {
	font-weight: bold;
}

.info .help {
	font-size: 1rem;
	margin: 2em 0;
}

.slots .hour b {
	background: #eef;
	border-radius: .5em;
	padding: .5rem;
}

a {
	color: blue;
}

a:hover {
	color: darkred;
}

.booking_categories h2 a {
	padding: .5rem 1rem;
	display: inline-block;
	border-radius: .5rem;
	background: #eef;
}


.booking_categories div {
	margin: 1em;
}

.booking_categories > h3 {
	margin-bottom: 1em;
}

.booking_categories {
	border-bottom: .1rem solid #ccc;
	padding-bottom: 2rem;
}

body > section > footer {
	margin-top: 1rem;
	text-align: right;
	padding: .5rem;
}